/* Webfont: Noirden-Regular */@font-face {
    font-family: 'Noirden';
    src: url('Noirden-Regular.eot'); /* IE9 Compat Modes */
    src: url('Noirden-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Noirden-Regular.woff') format('woff'), /* Modern Browsers */
         url('Noirden-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Noirden-Regular.svg#Noirden-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

